<html>
    <head>
        <title>Results</title>
    </head>
    <body>
        <h2> Results </h2>
        <ul class="data">
            <li class="user">
              <span><p>UserId: </p><%= data.user %></span>
            </li>
            <li class="score">
              <span><p>Score: </p><%= data.score %></span>
            </li>
            <li class="status">
              <span><p>Status: </p><%= data.status %></span>
            </li>
        </ul>
      </body>
</html>